:root {
    --form-height:                                   var(--global-control-height);
    --form-line-height:                              1.4;
    --form-padding:                                  6px 14px;

    --form-background:                               #fff;
    --form-color:                                    var(--global-muted-color);

    --form-focus-background:                         var(--global-muted-background);
    --form-focus-color:                              var(--global-muted-color);


    --form-placeholder-color:                        var(--global-link-color);
    --form-placeholder-font-size:                    14px;


}



input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type="month"],
input[type=week],
input[type=text],
input[type=time],
input[type=url],
textarea,
select {
    font-size: var(--form-placeholder-font-size);
    color: var(--form-color);
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, .12) ;
    border: 1px solid var( --global-border);
}

