:root {
  --button-color: #ffffff;
  --button-background: transparent;
  --button-font-family: inherit;
  --button-font-size: var(--global-font-size);
  --button-font-weight: normal;
  --button-padding: 6px 12px;
  --button-height: var(--global-control-height);

  --button-color-hover: #ffffff;
  --button-background-hover: #23b7a4;

  --button-color-focus: #ffffff;
  --button-background-focus: #23b7a4;

  --button-color-active: #ffffff;
  --button-background-active: #23b7a4;
}

button,
input[type="button"],
input[type="submit"],
.button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid white;
  user-select: none;
  border-radius: 5px;
  overflow: visible;
  font: inherit;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  min-height: var(--button-height);
  text-decoration: none;
  background: var(--button-background);
  color: var(--button-color);
  width: 160px;
  margin: 10px;
}

.button:not(:disabled) {
  cursor: pointer
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.button:hover {
  text-decoration: none;
  background-color: var(--button-background-hover);
  color: var(--button-color-hover);
  border-color: var(--button-background-hover);
}

.button:focus {
  outline: none;
  background: var(--button-background-focus);
  color: var(--button-color-focus);
  border-color: var(--button-background-hover);
}

.button:active,
.button.is-active {
  background: var(--button-background-active);
  color: var(--button-color-active);
  border-color: var(--button-background-hover);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.45;
}
