<div class="about-layout">
  <div class="layout-item item-photo">
    <img src="/assets/images/my-photo.jpg" alt="Vladislav Lee">
  </div>

  <div class="layout-item item-introduce">
    <h2 class="introduce-title">I’m Vlad Lee</h2>
    <h4 class="intriduce-subtitle">Born in Dnipropetrovsk, 1995</h4>
    <div class="introduce-text">
      <p>
        I really like my job, because it gives me some tools
        for self-expression, transforming the simple code
        to great and interesting web-apps.
        Every project I provide has highest quality,
        fully responsive, and tested in the wide range
        of devices. I like to work and create some simple,
        beautiful and intuitive interfaces in a team.
        You can see that on every screen.
      </p>
    </div>
  </div>

  <div class="layout-item item-technology">
    <app-technology></app-technology>
  </div>
</div>
