<div class="site-container">
  <div class="site-title">
    <h2 class="title">I’m Vladislav Lee</h2>
    <p class="subtitle">from Ukraine, Kharkov</p>
  </div>

  <div class="about-layout">
    <div class="layout-item item-introduce">
      <p>The main area of my expertise is Frontend development (client side of the web).</p>

      <p>HTML, CSS, JS (TypeScript), building medium and high-load web apps with Angular 2+,
        custom plugins, features, animations, Progressive Web Applications, and coding interactive
        layouts. I have also FullStack development experience with open source CMS WordPress.
      </p>

      <p>
        I really love what I do, because it inspires me and gives a lot of tools
        for self-expression, transforming the code to great and interesting WebApps.
        Every project I provide has highest quality, fully responsive UI,
        and tested in the wide range of devices. I like to create beautiful and simple
        interfaces as part of the team. You can see that on every screen.
      </p>

      <p>
        Visit my
        <a href="https://www.linkedin.com/in/vladislav-lee" target="_blank">LinkedIn</a>
        profile to get more details.</p>
    </div>
  </div>
</div>

<app-technology></app-technology>
