<div class="nav-bar">
  <div class="nav-bar-header">
    <div class="header-layout">
      <div class="layout-item item-logo">
        <img src="assets/images/main-logo.png" alt="Vladislav Lee">
      </div>

      <div class="layout-item item-about">
        <p>
          Hello! I'm Vlad, a Frontend developer
          from Kharkiv, Ukraine.
          This page is an introduction to my life!
        </p>
      </div>

      <nav class="layout-item item-actions">
        <a>Home</a>

        <a>About</a>

        <a>Contact</a>

        <a href="assets/CV_Vladislav_Lee.pdf" download="CV_Vladislav_Lee.pdf">
          Download my CV
        </a>
      </nav>
    </div>
  </div>

  <div class="nav-bar-footer">
    <div class="footer-layout">
      <a class="layout-item" href="mailto:vladislavlee.job@gmail.com" target="_blank">
        <span class="icon-google"></span>
      </a>
      <a class="layout-item" href="https://github.com/leevladislav" target="_blank">
        <span class="icon-github"></span>
      </a>
      <a class="layout-item" href="https://www.linkedin.com/in/vladislav-lee" target="_blank">
        <span class="icon-linkedin"></span>
      </a>
      <a class="layout-item" href="https://codepen.io/vladislavlee/" target="_blank">
        <span class="icon-codepen"></span>
      </a>
      <a class="layout-item" href="tel:+380996491632" target="_blank">
        <span class="icon-phone"></span>
      </a>
    </div>
  </div>
</div>
