  $button-color: #f7f3ea;
  $button-background: #eb7d4b;
  $button-font-family: inherit;
  $button-font-size: $global-font-size;
  $button-font-weight: normal;
  $button-padding: 8px 18px;
  $button-height: $global-control-height;

  $button-color-hover: #f7f3ea;
  $button-background-hover: #ff6720;

  $button-color-focus: #f7f3ea;
  $button-background-focus: #ff6720;

  $button-color-active: #f7f3ea;
  $button-background-active: #ff6720;

button,
input[type="button"],
input[type="submit"],
.button {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  user-select: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $button-padding;
  font-family: $button-font-family;
  font-size: $button-font-size;
  min-height: $button-height;
  text-decoration: none;
  background: $button-background;
  color: $button-color;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover {
  text-decoration: none;
  background: $button-background-hover;
  color: $button-color-hover;
}

.button:focus {
  outline: none;
  background: $button-background-focus;
  color: $button-color-focus;
}

.button:active,
.button.is-active {
  background: $button-background-active;
  color: $button-color-active;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.45;
}

