@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400";

html,
body {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway";
}

.header {
  height: 70px;
  background-color: #000000;
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
}

.nav_link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-left: 45px;
}

@media screen and (min-width: 540px) and (max-width: 768px) {
  .container--header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav_link {
    margin-left: 10px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 539px) {
  .container--header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav_link {
    margin-left: 5px;
  }
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.logo_emphasis {
  color: #ff9b51;
  font-weight: 300;
}

.logo--lg {
  font-size: 4rem;
}

@media screen and (min-width: 540px) and (max-width: 768px) {
  .logo {
    margin: auto;
  }
}

@media screen and (max-width: 539px) {
  .logo {
    margin: auto;
  }
}

.welcome {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: calc(100vh - 75px);
  position: relative;
  background-attachment: fixed;
}

.welcome-container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
}

.welcome-container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.welcome--content-holder {
  padding-top: 80px;
  width: 50%;
}

.welcome-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  padding-top: 28px;
  font-family: "Raleway";
}

.welcome-line {
  height: 10px;
  width: 70px;
  border-bottom: 2px solid #fff;
  padding-top: 32px;
}

.welcome-description {
  padding-top: 22px;
  padding-bottom: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: "Raleway";
  line-height: 1.5;
}

.welcome-action-button {
  width: 140px;
  height: 40px;
  border: 2px solid #fff;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.welcome-action-button-befor {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}


.welcome--form-block {
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 0;
}

.welcome--form {
  width: 362px;
  height: 362px;
  border-radius: 3px;
}

.welcome--fieldset {
  border: 0;
}

.welcome-gray_box {
  background-color: #f5f5f5;
  height: 54px;
  text-align: center;
  line-height: 2.5;
  border-radius: 3px 3px 0 0;
}

.welcome-gray_box p {
  font-size: 20px;
  font-weight: 600;
}

.welcome-gray_box--title {
  color: #ff9b51;
  text-transform: uppercase;
}

.welcome-placeholder_box {
  width: 362px;
  height: 86px;
  background-color: #fff;
  padding-left: 40px;
  line-height: 2.5;
  padding-top: 10px;
}

.welcome-input {
  border: 0;
  padding: 0;
  background-color: #fff;
  color: #86878b;
  border-bottom: 1px solid #86878b;
  width: 285px;
  font-weight: 300;
  font-size: 15px;
}

.welcome-button {
  width: 362px;
  height: 61px;
  border: 0;
  border-radius: 0 0 3px 3px;
  background-color: #ff9b51;
}

.welcome-button-text {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
@media screen and (min-width: 540px) and (max-width: 768px) {
  .welcome-container--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .welcome--content-holder {
    padding-top: 40px;
    text-align: center;
    width: 100%;
  }
  .welcome-title {
    font-size: 19px;
    padding-top: 14px;
    text-align: center;
  }
   .welcome-line {
    margin: auto;
  }
  .welcome--form-block {
    width: 100%;
    font-size: 0;
  }
  .welcome--form {
    width: 290px;
    margin: auto;
  }
  .welcome-placeholder_box {
    width: 290px;
    padding-left: 20px;
    font-size: 15px;
  }
  .welcome-button {
    width: 0px;
  }
  .welcome-input {
    font-size: 15px;
    line-height: 2.5;
    padding-top: 15px;
    width: 260px;
  }
}

@media screen and (max-width: 539px) {
  .welcome-container--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .welcome--content-holder {
    padding-top: 40px;
    text-align: center;
    width: 100%;
  }
  .welcome-title {
    font-size: 19px;
    padding-top: 14px;
    text-align: center;
  }
  .welcome-line {
    margin: auto;
  }
  .welcome--form-block {
    width: 100%;
    font-size: 0;
  }
  .welcome--form {
    width: 300px;
    margin: auto;
  }
  .welcome-placeholder_box {
    width: 300px;
    padding-left: 20px;
    font-size: 15px;
  }
  .welcome-button {
    width: 300px;
  }
  .welcome-input {
    font-size: 15px;
    line-height: 2.5;
    padding-top: 15px;
    width: 250px;
  }
}

.social {
  width: 100%;
  margin: 4px auto;
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.social-container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media_holder {
  text-align: left;
  width: 40%;
	/*padding-left: 20px;*/
}

.social-media_title {
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
}

.social-media_description {
  font-size: 14px;
  color: #86878b;
  font-weight: 300;
  padding-bottom: 20px;
}

.social-block_sprites {
	/*overflow: hidden;*/
  display: inline-block;
  text-indent: 100%;
}

@media screen and (max-width: 539px) {
  .social-container {
      display: flex;
      flex-direction: column;
    }
  .social-media_holder {
    width: 100%;
    margin: auto;
    text-align: center;

  }
  .social a {
      display: inline-block;
      width: 28px;
      height: 28px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      margin: 1px;
      background: url('../images/sprites_mini.png');
      background-repeat: no-repeat;
    }
    .social-nav .fb {
      background-position: 14px 2px;
    }
    .social-nav .tw {
      background-position: -37px 2px;
    }
    .social-nav .gg {
      background-position: -92px 3px;
    }
    .social-nav .pt {
      background-position: -138px 2px;
    }
    .social-nav .inst {
      background-position: -188px 2px;
    }
    .social-nav .lin {
      background-position: -241px 2px;
    }
    .social-nav .rss {
      background-position: -292px 2px;
    }
}

.social-nav {
  text-align: center;
  /*padding: 5%;*/
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.social li {
  display: inline-block;
  list-style: none;
}

.social a {
  display: inline-block;
  width: 55px;
  height: 45px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 1px;
  background: url('../images/sprites_2.png');
  background-repeat: no-repeat;
}

.social .fb {
  background-position: 8px 0;
}

.social .tw {
  background-position: -85px 0;
}

.social .gg {
  background-position: -190px 0;
}

.social .pt {
  background-position: -280px 0;
}

.social .inst {
  background-position: -382px 0;
}

.social .lin {
  background-position: -481px 0;
}

.social .rss {
  background-position: -579px 0;
}

.tabs-container {
  background-color: #f5f5f5;
}

.tabs-holder {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-nav-block {
  padding-top: 143px;
  padding-bottom: 116px;
  padding-right: 82px;
}

.tabs-nav-item {
  height: 110px;
  width: 110px;
  background-color: #212121;
  border: 1px solid #86878b;
  text-align: center;
  cursor: pointer;
}

.tabs-nav-item:hover {
  background-color: #ff9b51;
  border: 1px solid #f5f5f5;
}

.tabs-nav-item:first-child {
  border-radius: 3px 3px 0 0;
}

.tabs-nav-item:last-child {
  border-radius: 0 0 3px 3px;
}

.tabs-nav-txt {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 7;
}

.tabs-nav-item.active {
  background-color: #ff9b51;
}

.tabs-content-title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 50px;
  display: none;
}
.tabs-text-block {
  padding-right: 80px;
}
.tabs-text-block p {
  font-size: 14px;
  padding-bottom: 22px;
  color: #86878b;
}

.tabs-action-button {
  width: 140px;
  height: 40px;
  border: 2px solid #ff9b51;
  background-color: #ff9b51;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 0 rgba(199, 199, 199, .5);
  box-shadow: 0 0 2px 0 rgba(199, 199, 199, .5);
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.tabs-action-button-befor {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.tabs-content-title.active {
  display: block;
}

.sub_list {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
}

.sub_list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sub_list-image {
  padding-top: 157px;
  padding-bottom: 157px;
  margin-right: 2rem;
}

.sub_list-contant_box {
  padding-top: 157px;
  padding-bottom: 157px;
}

.sub_list-contant_box p {
  color: #86878b;
  padding-bottom: 40px;
}

.sub_list-contant_box h6 {
  font-size: 14px;
  color: #000000;
  padding-left: 60px;
}

.sub_list--title {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 25px;
  color: #000000;
}

.sub_list--line {
  width: 68px;
  height: 10px;
  border-top: 2px solid #ff8b38;
  padding-bottom: 25px;
}

.circle--fa-cloud {
  width: 40px;
  height: 38px;
  background: rgba(255, 255, 255, .9); /*для правильного отображения в гугле и сафари*/ /*для правильного отображения в фоксе*/
  border-radius: 50%;
  border: 2px solid #ff9b51;
  text-align: center;
  float: left;
  padding-top: 5px;
}

.sub_list-fa_cloud-description {
  padding-left: 60px;
}

.fa-cloud-upload {
  color: #ff9b51;
}

.fa-cloud-download {
  color: #ff9b51;
}
@media screen and (max-width: 539px) {
  .sub_list-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sub_list-contant_box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.standard {
  background-color: #f5f5f5;
}

.standard-container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.standard-image {
  padding-top: 115px;
  padding-bottom: 115px;
  margin-left: -20px;
}

.standard-box_content {
  padding-top: 115px;
  padding-bottom: 115px;
  padding-left: 20px;
}

.standard-box_content p {
  color: #86878b;
  padding-bottom: 30px;
}

.standard-box_content h5:first-child {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  color: #000000;
}

.standard--line {
  width: 68px;
  height: 10px;
  border-top: 2px solid #ff8b38;
  padding-bottom: 25px;
}
@media screen and (max-width: 539px) {
  .standard-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .standard-box_content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.awesome-container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
}

.awesome-box {
  text-align: center;
}

.awesome-title {
  padding-top: 104px;
  padding-bottom: 25px;
  font-size: 36px;
  font-weight: 300;
}

.awesome--line {
  width: 68px;
  height: 10px;
  border-top: 2px solid #ff8b38;
  padding-bottom: 25px;
  margin: auto;
}

.awesome-subtitle {
  font-size: 14px;
  color: #86878b;
  font-weight: 300;
}

.advantages {
  margin-top: 65px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.advantages-image-holder {
  width: 69px;
  height: 69px;
  background: rgba(255, 255, 255, .9);
  border-radius: 50%;
  border: 2px solid #ff9b51;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  font-size: 18px;
}

.fa-befor {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fa {
  color: #ff9b51;
  vertical-align: middle;
}

.advantages-caption {
  font-size: 14px;
  padding: 25px 55px;
  color: #86878b;
}

.advantages-caption h6 {
  font-size: 20px;
  color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 539px) {
  .awesome-title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .awesome-title {
    font-size: 25px;
  }
  .awesome--line {
    width: 40px;
    height: 10px;
    border-top: 2px solid #ff8b38;
    padding-bottom: 20px;
  }
  .awesome-subtitle {
    font-size: 12px;
  }
  .advantages-image-holder {
    width: 49px;
    height: 49px;
    background: rgba(255, 255, 255, .9);
    border-radius: 50%;
    border: 2px solid #ff9b51;
    padding-top: 5px;
    font-size: 12px;
  }
  .advantages-caption {
    font-size: 12px;
    padding: 15px 25px;
    color: #86878b;
  }
}

.pricing {
  background-color: #f5f5f5;
}

.pricing-container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
}

.pricing-holder {
  text-align: center;
}

.pricing-title {
  padding-top: 104px;
  padding-bottom: 25px;
  font-size: 36px;
  font-weight: 300;
}

.pricing--line {
  width: 68px;
  height: 10px;
  border-top: 2px solid #ff8b38;
  padding-bottom: 25px;
  margin: auto;
}

.pricing-subtitle {
  font-size: 14px;
  color: #86878b;
  font-weight: 300;
}

.pricing-item_holder {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 85px;
  padding-bottom: 96px;
}

.pricing-item_title {
  width: 354px;
  height: 60px;
  border-bottom: 1px solid #fff;
  background-color: #333333;
  color: #fff;
  text-transform: capitalize;
  vertical-align: middle;
}

.pricing-item_title-before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.pricing-item_price-subtitle {
  height: 157px;
  max-width: 354px;
  background-color: #333333;
  font-size: 20px;
  border-bottom: 5px solid #ff9b51;
  color: #fff;
  text-transform: capitalize;
}

.pricing-item_price-subtitle span {
  font-size: 34px;
  font-family: "Raleway";
}

.pricing-item_price-subtitle span:nth-child(2) {
  font-size: 94px;
  font-weight: 800;
}

.pricing-item_price-subtitle p:nth-child(3) {
  color: #86878b;
  font-style: italic;
  font-size: 14px;
  padding-bottom: 22px;
}

.pricing-item_description {
  height: 246px;
  max-width: 354px;
  background-color: #fff;
  color: #86878b;
  text-transform: uppercase;
  line-height: 2.5;
}

.pricing-item_description p {
  border-bottom: 1px solid #f5f5f5;
}

.pricing-item_subdescription {
  max-width: 354px;
  height: 36px;
  background-color: #ff9b51;
  color: #fff;
  line-height: 2;
}

@media screen and (max-width: 539px) {
  .pricing-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .pricing--line {
    width: 40px;
    height: 10px;
    border-top: 2px solid #ff8b38;
    padding-bottom: 20px;
  }
  .pricing-item {
    padding-top: 20px;
  }
  .pricing-subtitle {
    font-size: 12px;
  }
  .pricing-item_holder {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pricing-item_title {
    width: 254px;
    height: 40px;
   }
  .pricing-item_price-subtitle {
    height: 100px;
    max-width: 254px;
    font-size: 10px;
 }
  .pricing-item_price-subtitle span {
   font-size: 14px;
  }
  .pricing-item_price-subtitle span:nth-child(2) {
   font-size: 54px;
  }
  .pricing-item_price-subtitle p:nth-child(3) {
    font-size: 12px;
  }
  .pricing-item_description {
    height: 146px;
    max-width: 254px;
    line-height: 2;
    font-size: 12px;
  }
  .pricing-item_subdescription {
    max-width: 354px;
    height: 26px;
    line-height: 1.5;
  }
  
} 

.customers-container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
}

.customers-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 100px;
}

.coments-box {
  width: 273px;
  height: 132px;
  background-color: #f5f5f5;
  border-radius: 2px;
  color: #86878b;
  font-size: 14px;
  position: relative;
  padding-top: 25px;
  padding-left: 11px;
}

.coments-box::before,
.coments-box::after {
  content: '';
  position: absolute;
  left: 27px;
  bottom: -24px;
  border: 10px solid transparent;
  border-top: 15px solid #f5f5f5;
}

.image-box {
  padding-top: 25px;
  display: inline-block;
  width: 284px;
}

.image-box img {
  margin-right: 15px;
}

.image-box-description {
  display: inline-block;
  vertical-align: top;
  width: 99px;
  padding-top: 20px;
  color: #333333;
  font-size: 20px;
}

.image-box-description span:nth-child(2) {
  font-size: 14px;
  color: #86878b;
}

.design {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 45vh;
  position: relative;
  background-attachment: fixed;
}

.design-container {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
  text-align: center;
  padding-top: 64px;
  color: #fff;
}

.design--line {
  margin: auto;
  width: 68px;
  height: 10px;
  border-top: 2px solid #fff;
  padding-bottom: 25px;
}

.design-subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #86878b;
  padding-bottom: 34px;
}
@media screen and (max-width: 539px) {
  .image-box {
    padding-bottom: 25px;
  }
  .coments-box {
    width: 250px;
    height: 115px;
    font-size: 12px;
  }
  .design-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 44px;
  }
  .design-container h1 {
    font-size: 27px;
  }
  .design--line {
    width: 50px;
    padding-bottom: 25px;
  }
  .design-subtitle {
    font-size: 14px;
    padding-bottom: 34px;
  }
}
.contacts {
  max-width: 1150px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
}

.contacts-form_holger {
  padding-top: 92px;
  padding-bottom: 40px;
}

.contacts--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contacts--fieldset {
  border: 0;
}

.contacts-input {
  border: 0;
  padding: 0;
  color: #86878b;
  border-bottom: 1px solid #86878b;
  width: 528px;
  font-weight: 300;
  font-size: 15px;
  padding-top: 40px;
}

.contacts-input_comment {
  border: 0;
  padding: 0;
  border-bottom: 1px solid #86878b;
  width: 528px;
  font-weight: 300;
  font-size: 15px;
}

.contacts-textarea {
  width: 528px;
  height: 169px;
  border: 0;
  padding: 0;
  color: #86878b;
	/*color: white;*/
  resize: none;
  padding-top: 40px;
}

.contacts-button_box {
  padding-top: 42px;
  margin: auto;
}

.contacts-button {
  width: 146px;
  height: 44px;
  border: 0;
  border-radius: 0 0 3px 3px;
  background-color: #ff9b51;
  margin: auto;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.contacts-button-text {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
@media screen and (max-width: 539px) {
  .contacts-input {
    width: 350px;
  }

  .contacts-input_comment {
    width: 350px;
  }
  .contacts-textarea {
    width: 350px;
    height: 140px;
  }
}
.footer {
  background-color: #000000;
}

.footer_container {
  max-width: 1150px;
  margin: 0 auto;
  color: #86878b;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 15px;
}

.footer_container {
  font-size: 12px;
}

.footer-nav li {
  display: inline-block;
  list-style: none;
}

.footer-nav a {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 1px;
  background: url('../images/sprites_mini.png');
  background-repeat: no-repeat;
}

.footer-nav .fb {
  background-position: 14px 2px;
}

.footer-nav .tw {
  background-position: -37px 2px;
}

.footer-nav .gg {
  background-position: -92px 3px;
}

.footer-nav .pt {
  background-position: -138px 2px;
}

.footer-nav .inst {
  background-position: -188px 2px;
}

.footer-nav .lin {
  background-position: -241px 2px;
}

.footer-nav .rss {
  background-position: -292px 2px;
}
@media screen and (max-width: 539px) {
  .sub_list-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 539px) {
  .standard-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 539px) {
  .advantages {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 539px) {
  .pricing-item_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 539px) {
  .customers-holder {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 539px) {
  .tabs-holder {
    display: flex;
    flex-direction: column;
    
  }
  .tabs-nav-block {
    padding-top: 70px;
    padding-bottom: 55px;
    display: flex;
    margin: auto;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .tabs-nav-item {
    height: 70px;
    width: 70px;
  }
  .tabs-nav-txt {
    font-size: 15px;
    line-height: 5;
  }
  .tabs-content-title {
    font-size: 15px;
    padding-bottom: 25px;
  }
  .tabs-text-block {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  .tabs-text-block p {
    font-size: 12px;
    padding-right: 10px;
  }
  .tabs-action-button {
    margin: auto;
  }
  .tabs-content-img {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=index.css.map */
