<section class="site-container">
  <div class="hero-layout">
    <div class="layout-item item-info">
      <span class="subtitle">Welcome to my website!</span>

      <h1 class="animated-text">
        <span class="animated-static">Hey Friend, I'm</span>

        <div class="animated-info">
          <span class="animated-item">Vlad Lee.</span>
          <span class="animated-item">Frontend Developer.</span>
          <span class="animated-item">UI Lover.</span>
        </div>
      </h1>
    </div>

    <div class="layout-item item-image">

    </div>
  </div>
</section>
