footer.footer * {
  color: var(--color-link);
}

footer.footer .footer-item * {
  margin: 0 0 0.6rem 0;
  font-weight: 200;
}

footer.footer .footer-item a {
  display: block;
}

footer.footer .footer-item a:hover,
footer.footer .footer-item a:focus,
footer.footer .footer-item a:active {
  text-decoration: none;
}

footer.footer .nav .nav-link {
  padding: 0;
}

@media screen and (max-width: 992px) {
  footer.footer .footer-item {
    text-align: center;
  }
}
