:root {
  --base-strong-font-weight:                       700;

  --base-margin-vertical:                          var(--global-margin);

  --base-link-hover-text-decoration:               none;

  --base-h1-font-size:                             2.23125rem;
  --base-h1-line-height:                           1.4;

  --base-h2-font-size:                             4.5rem;
  --base-h2-line-height:                           1.2;

  --base-h3-font-size:                             1.125rem;
  --base-h3-line-height:                           1.4;

  --base-h4-font-size:                             0.75rem;
  --base-h4-line-height:                           1;

  --base-list-padding-left:                        50px;
}
h2 {
  text-transform: uppercase;
}
h3 {
  font-weight: var(--base-strong-font-weight);
  text-transform: uppercase;
}
p {
  color: var(--global-muted-color);
  line-height: 1.4;
}
