<div class="contact">
  <div class="contact-layout">
      <div class="layout-item item-info">
        <div class="item-info-layout">
          <div class="info-address">
            <h4>ADDRESS</h4>
            <ul>
              <li>
                <a href="https://goo.gl/maps/b1UTkDqawPHe6bnVA" target="_blank">
                  <span class="icon-location"></span>
                  25A. Netechenska Avenue
                  Ukraine, Kharkiv 61000
                </a>
              </li>
            </ul>
          </div>
          <div class="info-actions">
            <h4>INFORMATION</h4>
            <ul>
              <li>
                <a href="mailto:vladislavlee.job@gmail.com">
                  <span class="icon-google"></span>
                  vladislavlee.job@gmail.com
                </a>
              </li>
              <li>
                <a href="tel:+380996491632">
                  <span class="icon-phone"></span>
                  099 649 16 32
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="layout-item item-technology">
        <app-technology-slider></app-technology-slider>
      </div>
  </div>
</div>
