.contact {
  .item-info {
    .item-info-layout {
      .info-address,
      .info-actions {
        display: flex;
        flex-direction: column;

        li {
          padding: 0;

          a {
            position: relative;
            display: inline-block;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 30px;

            [class^="icon-"],
            [class*=" icon-"] {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
