<div class="contact">
  <div class="wrapper">
    <div class="contact-layout">
      <div class="layout-item item-map">
        <div class="item-map-layout">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5281.363776167719!2d36.238701908845115!3d49.983106798032225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a08ae25f753d%3A0x2a5c633784a3672!2zMjVBLCDRg9C7LiDQndC10YLQtdGH0LXQvdGB0LrQsNGPLCAyNdCQLCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1531654882515"
                  width="100%" height="100%" frameborder="0" style="border:0"
                  allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="layout-item item-info">
        <div class="item-info-layout">
          <div class="item-data">
            <div class="data-address">
              <h4>ADDRESS</h4>
              <ul>
                <li>
                  <a href="https://goo.gl/maps/b1UTkDqawPHe6bnVA" target="_blank">
                    <span class="icon-location"></span>
                    25A. Netechenska Avenue
                    Ukraine, Kharkiv 61000
                  </a>
                </li>
              </ul>
            </div>
            <div class="data-actions">
              <h4>INFORMATION</h4>
              <ul>
                <li>
                  <a href="mailto:vladislavlee.job@gmail.com">
                    <span class="icon-google"></span>
                    vladislavlee.job@gmail.com
                  </a>
                </li>
                <li>
                  <a href="tel:+380996491632">
                    <span class="icon-phone"></span>
                    099 649 16 32
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item-form">
            <div class="item-form-layout">
              <div class="item-name">
                <input id="name" name="name" type="text" placeholder="Your Name*">
              </div>
              <div class="item-email">
                <input type="email" name="email" id="email" placeholder="Your Email*">
              </div>
              <div class="item-message">
                  <textarea name="message" id="message" cols="30" rows="4"
                            placeholder="Your Message"></textarea>
              </div>
              <div class="item-action">
                <button class="button">SEND MESSAGE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
