$body-background: $main-background;
$body-font-weight: $main-font-weight;
$body-line-height: $main-line-height;
$body-color: $dark-color;

$link-color: $link-color;
$link-text-decoration: none;
$link-hover-color: $link-hover-color;
$link-hover-text-decoration: none;

$margin-vertical: 20px;

$heading-font-weight: normal;
$heading-color: inherit;
$heading-text-transform: none;
$heading-margin-top: 20px;

$h1-font-size: 2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1rem;
$h6-font-size: 0.8rem;

html {
  font-family: $main-font-family;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: $body-background;
  color: $body-color;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  cursor: pointer;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-weight: $main-font-weight;
}

a:active,
a:hover {
  outline: none;
}

a:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-text-decoration;
}

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
  margin: 0 0 $margin-vertical 0;
  font-weight: $main-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $heading-margin-top 0;
  font-weight: $heading-font-weight;
  color: $heading-color;
  text-transform: $heading-text-transform;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: $margin-vertical;
}

h1,
.h1 {
  font-size: $h1-font-size;
}

h2,
.h2 {
  font-size: $h2-font-size;
}

h3,
.h3 {
  font-size: $h3-font-size;
}

h4,
.h4 {
  font-size: $h4-font-size;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 0;
}

a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[hidden] {
  display: none !important;
}

.site-title {
  padding: 20px 0;
  max-width: 600px;

  .title {
    margin: 0;
  }
}
