$main-font-family: 'PT Mono', monospace;
$main-font-size: 1rem;
$main-font-weight: lighter;
$main-line-height: 1.42;

$main-color: #000;
$light-color: #ffffff;
$accent-color: #42b983;
$muted-color: #999;

$link-color: #2c3e50;
$link-hover-color: #42b983;

$inverse-color: #fff;

$main-background: #fff;

$muted-background: #f8f8f8;
$primary-background: #42b983;
$secondary-background: #2c3e50;

$success-background: #32d296;
$warning-background: #faa05a;
$danger-background: #f0506e;

$border-width: 1px;
$border-color: #e5e5e5;

$control-height: 50px;
