$light-color: #ffffff;
$accent-color: #42b983;
$dark-color: #000;

$border-radius: 20px;
$box-shadow: 2px 2px 14px #d2d2d4;

$bold-font-weight: 600;
$border-width: 2px;

$link-color: #2c3e50;
$link-hover-color: #42b983;

$main-font-family: 'PT Mono', monospace;
$main-font-size: 1rem;
$main-font-weight: normal;
$bold-font-weight: bold;
$main-line-height: 1.6;

$main-background: #fff;

$control-height: 50px;










$muted-color: #999;
$inverse-color: #fff;


$muted-background: #f8f8f8;
$primary-background: #42b983;
$secondary-background: #2c3e50;

$success-background: #32d296;
$warning-background: #faa05a;
$danger-background: #f0506e;

$border-color: #e5e5e5;
