.layout-hero {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.layout-hero > .layout-item:nth-child(1){
    max-width: 515px;
    color: #fff;
}

.layout-hero > .hero-about {
    max-width: 816px !important;
}
