section.services {
    background-color: #17c2a4;

    .services__layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-bottom: 60px;

        .layout__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            flex-basis: 25%;
            min-width: 200px;
            padding-left: 14px;
            padding-right: 14px;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
}

section.services {
    .item__icon {
        display: block;
    }

    .item__icon-branding:after {
        content: url(img/icons/icon-branding.png);
    }

    .item__icon-design:after {
        content: url(img/icons/icon-design.png);
    }

    .item__icon-development:after {
        content: url(img/icons/icon-development.png);
    }

    .item__icon-rocket:after {
        content: url(img/icons/icon-rocket.png);
    }
}
