<div class="site-container">
  <div class="site-title">
    <h2 class="title">Skills & Technologies</h2>
  </div>

  <div class="technology-layout">
    <ul class="layout-item technology-list">
      <li class="list-item" *ngFor="let technology of technologies">
        <img [class.horizontal]="technology.isHorizontal" src="/assets/images/technology/{{technology.iconName}}"
             alt="{{technology.title}}"
             title="{{technology.title}}"
             matTooltip="{{technology.title}}">

        <p class="title">{{technology.title}}</p>
      </li>
    </ul>
  </div>
</div>
