.layout-main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.item-fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.layout-main .main-title {
    width: 100%;
}
.collection {
    width: 100%;
}
.layout-collection {
    display: flex;
    flex-wrap: wrap;
    min-height: 1700px;
    max-height: 2000px;
}
.layout-collection > div {
    width: calc(100% / 2);
}
.layout-season-time {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.layout-season-time .layout-item {
    display: flex;
}
.season-cold .season-card:first-child {
    align-self: flex-end;
}