.card-store {
    width: 300px;
    height: 300px;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    flex-grow: 1;
    margin-bottom: 20px;
}
.card-img img,
.card-hover,
.hover-desc,
.hover-icon {
    position: absolute;
}
.card-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img img {
    height: 200px;
    max-height: 100%;
}
.card-img img:first-child {
    transform: rotate(20deg) translateX(-37px) translateY(30px);
}
.card-img img:last-child {
    transform: translateX(-70px) translateY(40px);
}
.card-store .card-title {
    position: absolute;
    left: -20px;
    bottom: 60px;
    transform: rotate(-90deg);
    font-weight: bold;
}
.card-hover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.hover-icon {
    left: 10px;
    top: 10px;
}
.hover-desc {
    bottom: 14px;
    right: 26px;
    text-align: right;
}
.hover-desc h4 {
    font-weight: bold;
    text-transform: uppercase;
}
.card-store:hover .card-hover {
    display: block;
    transition: all 0.4s;
}
.card-store .card-hover {
    transition: all 0.4s;
}
.card-store:hover .card-img img:first-child {
    transform: rotate(-18deg) translateX(40px) translateY(-60px);
    transition: all 0.6s;
}
.card-store:hover .card-img img:last-child {
    transform: rotate(-22deg) translateX(-50px) translateY(-20px);
    transition: all 0.6s;
}
.card-img img {
    transition: all 0.6s;
}
.card-store:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 0;
    background: #000000;
    transition: width 0.4s;
    left: 0;
    bottom: 0;
    transition-delay: 0.4s;
}
.card-store:hover:after {
    width: 100%;
}
.card-store:before {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 1px;
    background: #000000;
    transition: height 0.4s;
    bottom: 0;
    right: 0;
}
.card-store:hover:before {
    height: 100%;
    transition-delay: 0.8s;
}
.nav-gender * {
    padding: 6px 0;
}
.nav-gender:not(:first-child) {
    margin-top: 10px;
}
.store-nav .gender-title {
    font-weight: bold;
}
.store-nav {
    min-width: 300px;
    padding: 6em 0;
}
.store-path {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}
.store-path span {
    margin-right: 10px;
}
.store-pages {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: flex-end;
}
.store-pages > div {
    min-width: 200px;
}


/*media*/
@media screen and (max-width: 674px) {
    .store-nav {
        display: none;
    }
}
