.layout-main-form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: space-between;
}
.layout-main-form .layout-item {
    width: 340px;
}
.layout-main-form fieldset {
    display: flex;
    flex-direction: column;
}
.layout-main-form input {
    margin-top: 40px;
}
.layout-main-form div {
    width: 340px;
    margin-top: 46px;
}
.biling-form input:last-child {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.payment-form > div {
    display: flex;
    align-items: center;
}
.payment-form div label {
    margin: 0 30px 0 0;
    min-width: 80px;
}
.payment-form div input[type="number"] {
    width: 60px;
    height: 30px;
    margin: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.payment-form div span {
    padding: 0 12px;
    font-size: 24px;
}
.payment-form .button {
    width: 250px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
}

/*media*/
@media screen and (max-width: 1124px) {
    .layout-main-form {
        flex-direction: column;
        align-items: center;
    }
    .layout-main-form .layout-item {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 500px) {
    .layout-main-form .layout-item {
        width: 300px;
    }
}