<section class="site-container">
  <div class="site-title">
    <h2 class="title">Experience</h2>
  </div>

  <div class="experience-layout">
    <ul class="layout-item experience-list">
      <li class="list-item" *ngFor="let item of experience">
        <div class="duration">
          <p>{{item.from}}</p>

          <p class="to">{{item.to}}</p>
        </div>

        <div class="description">
          <p>{{item.position}}</p>

          <p class="company-info">
            <span>{{item.companyName}}</span> ({{item.companyLocation}})
          </p>

          <p>{{item.duties}}</p>
        </div>
      </li>
    </ul>
  </div>
</section>
