.contacts-form {
    margin-bottom: 100px;
}

.button.button-submit {
    padding: 13px 44px;
}

.contacts-form input,
.contacts-form textarea {
    margin-bottom: 25px;
}

.card-headquarter{
    font-size: 15px;
    padding: 35px 0 35px 35px;
    min-width: 340px;
    border: 2px dashed var(--global-border);
}

.card-headquarter>h3{
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contact-headquarter-address,
.contact-headquarter {
    display: flex;
    margin-bottom: 25px;
}

.contact-headquarter-address {

}

.contact-headquarter {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

}

.contact-headquarter span[class^= "icon"],
.contact-headquarter-address span[class^= "icon"] {
    color: var(--global-green-color);
    margin-right: 12px;
}

.contact-headquarter-address .icon-map {
    font-size: 30px;
}

.contact-headquarter .icon-header-phone {
    font-size: 28px;
}



.contact-headquarter .icon-email {
    font-size: 23px;
}

.contact-headquarter a{
    color: #0f5f5c;
}



@media screen and (max-width: 768px) {

    .contacts-form input,
    .contacts-form textarea {
        margin-bottom: 15px;
    }


    .card-headquarter{
        width: 100%;
        margin-bottom: 30px;
        padding: 0;

    }


}