
.hero {
    position: relative;
    padding: 283px 0 200px 0;
    margin-bottom: 90px;

}

.hero-background,
.hero-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hero-background {
    background-image: url(../../../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.hero-overlay {
  background: linear-gradient(to top, rgba(45, 110, 112, .6), rgba(5, 52, 53, 0.9));
}

.hero-foreground {
    position: relative;
}

.hero-description {
    font-size: 16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 180px 0 100px 0;
    }
}
