.pricing-text {
  margin: 0 auto;
  max-width: 510px;
  margin-bottom: 37px;
}

.header-card-pricing {
  color: #6fb048;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.price {
  color: #0f5f5c;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 400;
}

.cost-pricing {
  text-transform: uppercase;
}

.price-period {
  display: block;
  color: #0f5f5c;
}

.list-price>li {
  margin: 12px 0;
}

.heading-help {
  position: relative;
  margin-top: 80px;
}

.heading-help::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
  width: 44px;
  height: 44px;
  top: -115px;
  background: url(../../../img/icon-help.png);
}

.help-text {
  max-width: 543px;
  margin: 0 auto;
}

.support {
  display: block;
  margin-top: 37px;
  color: #0f5f5c;
  font-size: 18px;
}

.list-check {
  margin-bottom: 25px;
}
