.layout-header {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    min-height: 83px;
}

header.is-inverse .layout-header {
    border-bottom: 1px solid #83a7a5;
}


header.is-inverse.no-border .layout-header {
    border-bottom: none;
}


.layout-header .layout-item{
    align-items: center;
    display: flex;
}
.layout-header .layout-item:nth-child(1){
    flex-shrink: 0;
}

