.technology-layout {
  padding: 2rem 1rem 2rem 0;

  .technology-title {
    text-align: center;
  }

  .technology-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;

    .list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 20%;
      padding: 0;
      min-height: 100px;
      margin-bottom: 80px;

      @media screen and (max-width: 1024px) {
        max-width: 33.3%;
      }

      @media screen and (max-width: 600px) {
        max-width: 100%;
      }

      img {
        max-width: 50px;

        &.horizontal {
          max-width: 100%;
          max-height: 36px;
        }
      }

      .title {
        margin-bottom: 0;
        margin-top: auto;
      }
    }
  }
}
