body {
   font-family: 'Montserrat', sans-serif, Arial, sans-serif;
   font-size: 2em;
}
:root {
  --link-hover-color: #858585;
  --link-default-color: black;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.main-layout {
  display: flex;
  flex-direction: column;
  padding: 1em 4em 0 4em;
  height: calc(100vh - 2em);
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--link-default-color);
  display: block;
}
.btn {
  height: 100vh;
  position: fixed;
  display: flex;
}
.btn:first-child {
  left: 0;
}
.btn:last-child {
  right: 0;
  top: 0
}
.btn__left {
  width: 3em;
  padding: 1em;
}
.btn__right {
  align-self: flex-end;
  width: 3em;
  padding: 1em;
}
i {
  padding: 1em;
  transition: all 0.3s ease-in-out;
  transform: rotate(0) scale(1);
  color: var(--link-default-color);
}
i:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(0) scale(2);
  color: var(--link-hover-color);
}
.about__title, .gallery__title{
  font-size: 1em;
  text-align: center;
}
.main__gallery {
  margin-top: 1em;
}
.gallery__title {
  padding: 1em;
}
.about__text {
  font-size: 0.6em;
  line-height: 1em;
  text-align: center;
}
.gallery__wrp {
  width: 1000px;
  
}
.wrp__item {
  position: relative;
  height: 180px;
  padding: 0.2em;
  overflow: hidden;
  width: 320px;
}
.item__list img {
  width: 100%;
  height: auto;
}
.item__hover {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: none;
  background: rgba(133,238,229, 0.9);
}
.item__hover:hover {
  display: block;

}

@media screen and (max-width: 1336px) {
  .wrp__item {
    height: 250px;
    width: 370px;
  }
}
@media screen and (max-width: 1024px) {
  .gallery__wrp {
    width: 660px;
}
}
@media screen and (max-width: 976px) {
  .main-layout {
    height: calc(80vh - 2em);
  }
  .about__title, .gallery__title {
   font-size: 20px;
 } 
 .about__text {
   font-size: 14px;
 }
}
@media screen and (max-width: 768px) {
  .gallery__wrp {
    width: 460px;
}
}