.stages {
  background-color: var(--global-muted-background);
  padding: 20px 0 76px 0;
}
.heading-modificated {
  margin-top: 0;
}
.heading-modificated h3 {
  color: var(--global-link-hover-color);
  margin-top: 40px;
}
.heading-modificated p {
  color: #fff;
  margin-top: 20px
}
.stages-card {
  width: calc(100% / 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}
.stages-card span {
  color: var(--global-link-hover-color);
  font-size: 42px;
  transition: 0.3s;
}
.stages-card:hover span{
  color: #fff;
}
.stages-card h4 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 22px;
}
.stages-card p {
  color: #fff;
  text-align: center;
  margin-top: 22px;
  padding: 8px;
}
