/*header*/
.logo-nav-wrp {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
/*services-list*/
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4em;
  padding-bottom: 4em;
}
/*additional-services*/
.additional-servises .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.box-wrp {
  width: 330px;
}
/*gallery*/
.gallery-wrp {
  display: flex;
  flex-wrap: wrap;
}
/*price*/
.price-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
}
.footer {
  background-image: url(../../../../img/footer-bg.png);
}
