
.layout-header .layout-item:nth-child(1) .header-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    /* background-color: transparent; */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 980;
}

header.is-inverse {
    position: static;
}

header.is-inverse.white {
    background-color: #fff;
}

header.is-inverse.gray {
    background-color: #eef1ec;
}

header.is-inverse .mobile-nav__openbtn svg rect {
    fill: #0f5f5c;
}

header.is-inverse .mobile-nav__openbtn:hover svg rect {
    fill: #6fb048;
}

header + section {
    padding-bottom: 83px;
}

.logo {
    display: block;
}

.logo svg {
    fill: #fff;
}

header.is-inverse .logo svg {
    fill: #0f5f5c;
}

.header-phone svg {
    fill: #fff;
    opacity: 0.7;
}

header.is-inverse .header-phone svg {
    fill: #83a7a5;
}

.header-phone:before {
    content: '';
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, .2);
    margin-right: 23px;
    margin-left: 23px;
}

header.is-inverse .header-phone:before {
    background: rgba(131, 167, 165, .5);
}

.header-phone-link {
    pointer-events: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-left: 6px;
    font-size: 13px;
    letter-spacing: 0.8px;
}

header.is-inverse .header-phone-link {
    color: #83a7a5;
}

.header-phone-link:hover {
    color: #fff;
}

header.is-inverse .header-phone-link:hover {
    color: #83a7a5;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 18px;
    padding-left: 0;
}

.navbar-nav > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 12px;
    margin-right: 20px;

}

header.is-inverse .navbar-nav > li > a {
    color: #83a7a5;
}

.navbar-nav > li:last-child > a {
    margin-right: 0;
}

.navbar-nav > li > a.is-active,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
    background-color: rgba(255, 255, 255, .35);
    border-radius: var(--globar-border-radius);

}

header.is-inverse .navbar-nav > li > a.is-active,
header.is-inverse .navbar-nav > li > a:active,
header.is-inverse .navbar-nav > li > a:focus,
header.is-inverse .navbar-nav > li > a:hover {
    background-color: #6fb048;
    color: #fff;

}

/*****for mobile menu*****/

.mobile-navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    padding: 0px 32px;

}

.mobile-navbar-nav > li > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    margin-bottom: 10px;

}

.mobile-navbar-nav > li > a.is-active,
.mobile-navbar-nav > li > a:active,
.mobile-navbar-nav > li > a:focus,
.mobile-navbar-nav > li > a:hover {
    color: var(--button-background);
    border-bottom: 2px solid var(--button-background);
}

.mob_menu_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 981;
}

.mob_menu_bg.show {
    display: none;
}

.mobile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 982;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 0 0 3px 0 #ccc;
}

.mobile-nav__openbtn svg rect {
    fill: #fff;
}

.mobile-nav__openbtn:hover svg rect {
    fill: var(--button-background);
}

.mobile-nav__closebtn {
    position: absolute;
    padding: 5px;
    right: 18px;
    top: 18px;
}

.mobile-nav__closebtn svg line {
    height: 18px;
    width: 18px;
    stroke: #eee;
}

.mobile-nav__closebtn svg {
    fill: #e3e3e3;
}

.mobile-nav__closebtn:focus svg line,
.mobile-nav__closebtn:hover svg line {
    stroke: #000;
}

.mobile-nav,
.mobile-nav__openbtn {
    display: none;
}

@media screen and (max-width: 992px) {
    .mobile-nav,
    .mobile-nav__openbtn {
        display: block;
    }

    .navbar {
        display: none;
    }

    .mob_menu_bg.show {
        display: block;
    }

    .header-phone:before {
        margin-right: 10px;
        margin-left: 12px;
    }

    .header-phone-link {
        margin-left: 2px;
    }
}

@media screen and (max-width: 400px) {

    .header-phone:before {
        margin-right: 6px;
        margin-left: 6px;
    }
    header.is-inverse .header-phone svg {
        display: none;
    }

}
