/* styles for hero */
.hero-home {
    background-image: url(../img/bg/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav-item .nav-link {
    color: var(--color-link);
    font-weight: 200;
}

.nav-item .nav-link.active {
    color: var(--color-link-active);
}

.header .mobile-menu {
    display: none;
}

.header .mobile-menu .navbar {
    padding: 1rem;
}

.hero-home .jumbotron {
    min-height: calc((100vh - 40px) - 2rem);
    background-color: transparent;
}

/* media for mobile menu */
@media (max-width: 992px) {
    .header .main-menu {
        display: none !important;
    }

    .header .mobile-menu {
        display: block;
    }

    .header .mobile-menu .navbar {
        justify-content: center;
    }

    .header .mobile-menu .nav {
        flex-direction: column;
        align-items: center;
    }
}