@media screen and (max-width: 1240px) {
  .list-cards > li {
    padding: 20px 0px 20px 80px;
    width: 50%;
  }
  nav {
    display: none;
  }
  .banner-info {
    width: 600px;
  }
  /*berger-menu*/
  .nav-burger {
    display: block;
    position: relative;
    height: 45px;
    width: 60px;
  }
  .burger-hidden {
    display: block;
    position: fixed;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    top: 0;
    left: -100%;
    transition: left .2s;
    z-index: 1;
    transform: translateZ(0);
    text-align: center;
    backface-visibility: hidden;
  }
  .burger-hidden .button {
    min-width: 180px;
    min-height: 60px;
  }
  .burger-ticker {
    display: none;
  }
  .burger-menu {
    background-color: var(--button-background-hover);
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 50px;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  .burger-menu span {
    display: block;
    height: 4px;
    background-color: #fff;
    margin: 6px 0 0;
    transition: all .1s linear .23s;
    position: relative;
  }
  .burger-menu span.menu-first {
    margin-top: 0;
  }
  .burger-ticker:checked ~ .burger-hidden {
    left: 0;
  }
  .burger-ticker:checked ~ .burger-menu span.menu-first {
    transform: rotate(45deg);
    top: 10px;
  }
  .burger-ticker:checked ~ .burger-menu span.menu-second {
    opacity: 0;
  }
  .burger-ticker:checked ~ .burger-menu span.menu-third {
    transform: rotate(-45deg);
    top: -10px;
  }
  .burger-hidden li .button {
    margin: 1em 0;
  }
}
@media screen and (max-width: 1024px) {
  .hero-info {
     width: 40%;
  }
  .services-card {
    width: 100%;
  }
  .features-list > li {
    width: 100%;
  }
  .banner-info {
    width: 500px;
  }
  .banner-info h2 {
    font-size: 3em;
  }
  .banner-wrp p {
    width: 100%;
  }
  .banner-slider img {
    height: 400px;
  }
  .price-item {
    width: 100%;
  }
 .footer-title h2 {
    font-size: 4em;
  }
  .footer-nav {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .hero-info {
    width: 50%;
    left: 14em;
  }
  .banner-info {
    width: 300px;
  }
  .banner-slider {
    display: none;
  }
  .skills-title {
    padding: 10px 10em;
  }
  .list-cards > li {
    width: 100%;
  }
}
